wget
timm
torch
torchvision
tensorflow
moviepy
librosa
ffmpeg-python
albumentations
opencv-python-headless
torchsummary
onnx
onnx2pytorch
flask
flask-cors
werkzeug
mtcnn
efficientnet-pytorch
numpy
pillow
gunicorn
scipy
matplotlib
soundfile